.navigation {
    border-right: 1px solid #3a3c43;
    width: 200px;
    &-header {
        color: #f1f1f1;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 auto;
        h5 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .chapter {
            position: relative;
           
            button {
                width: 85.5%;
            }
            .dropdown-menu {
                width: 86%;
                max-height: 150px;
                overflow-y: scroll;
                left: 12px;
                li {
                    color: #0d1115;
                }
            }
            .caret-content {
                margin-left: 6px;
            }
            .btn.btn-default {
                color: #fff;
                border-color: #50565f;
                background: #333a45 linear-gradient(180deg,transparent,rgba(0,0,0,.4));
                cursor: pointer;
                &:focus, &:hover {
                    color: #fff;
                    border-color: #50565f;
                    background: #333a45 linear-gradient(180deg,transparent,rgba(0,0,0,.4));
                }
            }
        }
       
    }
    &-body {
        overflow: auto;
        height: calc(100vh - 101px);
        .list-group{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            border-top: 1px solid #0d1115;
            padding: 5px 11px;
            background: #373e47;
            margin-bottom: 150px;
            &-item {
                position: relative;
                display: block;
                overflow: hidden;
                border-radius: 0;
                user-select: none;
                background-color: #373e47;
                padding: 0;
                border: 2px solid #fff;
                transition: border .3s ease-in-out;
                color: #fff;
                .item_status {
                    position: absolute;
                    left: 10px;
                    display: inline-block;
                    text-align: left;
                    font-size: 12px;
                    .light {
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 5px;
                        &.white{
                            background-color: white;
                        }
                        &.green {
                            background-color: mediumturquoise;
                        }
                        &.red {
                            background-color: #fa7c90;
                        }
                    }
                }
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                &.active {
                    border-color: #fa7c90;
                    z-index: 2;
                    color: #fff;
                    background-color: #373e47;
                    &:hover {
                        background-color: #373e47;
                        border-color: #fa7c90;
                    }
                }
                .pr-1 {
                    padding-right: .25rem!important;
                }
                a {
                    display: block;
                    height: 75px;
                }
                img {
                    width: 100%;
                    overflow: hidden;
                }
            }
        }
    }
}