.popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  z-index: 1050; }
  .popup-remark {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%, -50%); }
  .popup-glossary {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%, -50%); }
  .popup-body {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%, -50%); }
  .popup-loading {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic; }
    .popup-loading img {
      width: 200px;
      animation: moving 1.2s infinite; }
    .popup-loading p {
      margin-top: 20px;
      font-size: 16px; }
  .popup-preview {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: rgba(0, 0, 0, 0.65);
    min-width: 870px;
    max-height: 96vh;
    overflow-y: auto;
    transition: width .3s ease-out; }
    .popup-preview-header {
      padding: 1rem;
      border-bottom: 1px solid #e9ecef;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem; }
      .popup-preview-header .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        display: inline-block; }
      .popup-preview-header .close {
        float: right;
        cursor: pointer; }
      .popup-preview-header:after {
        clear: both;
        display: block;
        content: ''; }
    .popup-preview-body {
      position: relative;
      margin-top: 10px; }
      .popup-preview-body canvas {
        position: absolute; }
      .popup-preview-body-restore {
        display: block;
        width: 96%; }
  .popup-canvasContainer {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 400px;
    border-radius: 5px;
    transform: translate(-50%, -50%); }
    .popup-canvasContainer-canvas {
      position: absolute;
      left: 0;
      top: 0;
      cursor: crosshair; }
  .popup-header {
    position: relative;
    padding: 15px; }
    .popup-header .dismissPopUp {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 12px;
      font-weight: lighter;
      cursor: pointer; }
  .popup-content {
    padding: 15px;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef; }
  .popup-footer {
    padding: 15px;
    margin-bottom: 15px; }
    .popup-footer button {
      margin-left: 15px;
      padding: 6px 15px;
      border: 1px solid #ccc; }

@keyframes moving {
  0%, 11.1%, to {
    transform: translateZ(0); }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.39063deg) skewY(0.39063deg); }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }
