@charset "UTF-8";
.workbench {
  min-width: 570px;
  flex: 1;
  border-left: 1px solid #050905;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  position: relative; }
  .workbench-main {
    height: calc(100vh - 50px);
    overflow-y: auto; }
    .workbench-main .workbench-work-wrap {
      padding: 40px 30px;
      position: relative; }
      .workbench-main .workbench-work-wrap .trans-guide-prompt {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        color: #777;
        text-align: center;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none; }
      .workbench-main .workbench-work-wrap .canvas-container {
        position: relative;
        user-select: none;
        margin: 0 auto; }
        .workbench-main .workbench-work-wrap .canvas-container .lower-canvas {
          position: absolute;
          left: 0px;
          top: 0px;
          touch-action: none;
          user-select: none; }
        .workbench-main .workbench-work-wrap .canvas-container .upper-canvas {
          position: absolute;
          left: 0px;
          top: 0px;
          touch-action: none;
          user-select: none;
          cursor: crosshair; }
  .workbench-container {
    width: 100%;
    height: calc(100vh - 51px);
    overflow: hidden; }
    .workbench-container .trans-result-right-menu {
      padding: 0;
      height: calc(100vh - 51px);
      border-top: 1px solid #50575d;
      background: #373e47;
      border-left: 1px solid #050807;
      position: relative;
      padding-top: 59px;
      transition: all .3s; }
      .workbench-container .trans-result-right-menu .result-header {
        margin: 0;
        color: #f1f1f1;
        text-align: center;
        border-bottom: 1px solid #050807;
        z-index: 99;
        font-size: 0;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
        .workbench-container .trans-result-right-menu .result-header .result-inner {
          border: 1px solid #fff;
          border-radius: 3px; }
          .workbench-container .trans-result-right-menu .result-header .result-inner .result-title {
            text-align: center;
            line-height: 36px;
            display: inline-block;
            vertical-align: top;
            width: 50%;
            font-size: 14px; }
          .workbench-container .trans-result-right-menu .result-header .result-inner .result-select {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            font-size: 14px;
            background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8)); }
            .workbench-container .trans-result-right-menu .result-header .result-inner .result-select .btn-group {
              width: 100%;
              position: relative;
              display: inline-flex;
              vertical-align: middle; }
              .workbench-container .trans-result-right-menu .result-header .result-inner .result-select .btn-group .potato-btn {
                overflow: hidden;
                font-size: 14px;
                line-height: 33px;
                background: transparent;
                margin: 0 auto;
                border: 0;
                width: 100%;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none; }
                .workbench-container .trans-result-right-menu .result-header .result-inner .result-select .btn-group .potato-btn:focus {
                  outline: none; }
      .workbench-container .trans-result-right-menu .content-inner {
        height: calc(100vh - 59px - 50px);
        overflow-y: auto;
        padding-right: 15px; }
        .workbench-container .trans-result-right-menu .content-inner .translate-code-content {
          padding: 8px; }
        .workbench-container .trans-result-right-menu .content-inner .result_item {
          cursor: grab;
          padding: 5px;
          box-sizing: border-box; }
          .workbench-container .trans-result-right-menu .content-inner .result_item .result-inner {
            padding: 10px;
            position: relative;
            border-radius: 5px;
            box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
            border: 1px solid transparent;
            box-sizing: border-box; }
            .workbench-container .trans-result-right-menu .content-inner .result_item .result-inner .result-index {
              display: block;
              text-align: right;
              font-weight: 800;
              padding-bottom: 5px;
              color: #fff;
              padding-right: 5px;
              overflow: hidden; }
            .workbench-container .trans-result-right-menu .content-inner .result_item .result-inner .origin-image-area .result-origin-text {
              color: #fff;
              border: 1px solid #50565f;
              background: #333a45;
              padding: 8px;
              border-radius: 2px;
              margin: 0;
              max-height: 200px;
              overflow-y: auto; }
            .workbench-container .trans-result-right-menu .content-inner .result_item .result-inner .result-translate-btn-area {
              position: relative;
              height: 10px; }
            .workbench-container .trans-result-right-menu .content-inner .result_item .result-inner .result-text {
              margin: 0;
              padding: 8px;
              border-radius: 2px;
              border: 1px solid #50565f;
              color: #fff;
              background: #333a45 linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
              max-height: 200px;
              overflow-y: auto; }
        .workbench-container .trans-result-right-menu .content-inner .empty-inner {
          text-align: center;
          padding: 20px 0; }
          .workbench-container .trans-result-right-menu .content-inner .empty-inner .empty-text {
            font-size: 20px;
            font-weight: 800;
            color: #fff; }
    .workbench-container .canvas-zoom {
      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 40px;
      z-index: 1;
      border-radius: 3px;
      background: #fff; }
      .workbench-container .canvas-zoom .zoom-num {
        color: #333 !important;
        display: block;
        text-align: center;
        box-shadow: 0 0 18px -3px rgba(0, 0, 0, 0.3);
        padding: 5px 0;
        font-weight: 800; }
      .workbench-container .canvas-zoom .zoom-btn {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 36px;
        color: #333 !important;
        display: block;
        text-align: center;
        cursor: pointer;
        user-select: none; }
        .workbench-container .canvas-zoom .zoom-btn:hover {
          text-decoration: none; }
      .workbench-container .canvas-zoom .canvas-zoom-scroll {
        transform: rotate(270deg);
        width: 100px;
        height: 110px;
        margin: 0 -30px; }

.cropBox {
  position: absolute;
  min-width: 60px;
  min-height: 60px; }

.cancel {
  position: absolute;
  top: -16px;
  right: -16px;
  border-radius: 50%;
  background-color: #fdfbfb;
  background-image: linear-gradient(45deg, #ff4f81 30%, #fe6c5f);
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 2px solid #fff;
  transition: all .3s;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 9; }

.source-area-tip {
  position: absolute;
  bottom: -44px;
  right: 2px;
  width: 160px; }
  .source-area-tip .content-tip {
    color: white;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
    border: 2px solid #fff;
    text-align: center;
    white-space: nowrap; }

.ok {
  position: absolute;
  bottom: -10px;
  right: -20px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
  background-color: #a5d296;
  background-image: linear-gradient(45deg, #1cc7d0, #2dde98);
  box-shadow: 0 2px 6px 0 rgba(45, 222, 152, 0.4);
  font-size: 12px;
  color: #fff;
  text-align: center;
  cursor: pointer; }

.border-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #ff4f81 0%, #ff4f81 50%, transparent 50%);
  background-size: 20px 2px;
  background-repeat: repeat-x; }

.border-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, #ff4f81 0%, #ff4f81 50%, transparent 50%);
  background-size: 2px 20px;
  background-repeat: repeat-y; }

.border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #ff4f81 0%, #ff4f81 50%, transparent 50%);
  background-size: 20px 2px;
  background-repeat: repeat-x; }

.border-right {
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #ff4f81 0%, #ff4f81 50%, transparent 50%);
  background-size: 2px 20px;
  background-repeat: repeat-y; }

.move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: move; }

.dragRotateContainer {
  position: absolute;
  width: 1px;
  height: 30px;
  background: #ff4f81;
  top: -30px;
  left: 50%; }

.drag {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ff4f81;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  z-index: 2; }

.rotate {
  left: -5px;
  cursor: crosshair; }

.nw-resize {
  left: -4px;
  top: -4px;
  cursor: nw-resize; }

.sw-resize {
  left: -4px;
  bottom: -4px;
  cursor: sw-resize; }

.ne-resize {
  right: -4px;
  top: -4px;
  cursor: ne-resize; }

.se-resize {
  right: -4px;
  bottom: -4px;
  cursor: se-resize; }

.n-resize {
  top: -4px;
  left: 50%;
  margin-left: -4px;
  cursor: n-resize; }

.s-resize {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  cursor: s-resize; }

.e-resize {
  right: -4px;
  top: 50%;
  margin-top: -4px;
  cursor: e-resize; }

.w-resize {
  left: -4px;
  top: 50%;
  margin-top: -4px;
  cursor: w-resize; }

.translAreaBox {
  position: absolute; }
  .translAreaBox .canvasContainer {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden; }
    .translAreaBox .canvasContainer .translCanvas {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      cursor: crosshair; }
    .translAreaBox .canvasContainer .resultCanvas {
      position: absolute; }
  .translAreaBox .inpaint-box {
    position: absolute;
    width: 250px;
    right: -266px;
    top: -40px;
    padding: 0;
    box-shadow: 0 0 52px -5px rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
    background-color: #2b3238;
    border: 1px solid #7688a0;
    z-index: 11; }
    .translAreaBox .inpaint-box .box-title {
      padding: 5px;
      background: #333a45 linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
      border-radius: 5px 5px 0 0;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      position: relative;
      color: #fff;
      cursor: move; }
    .translAreaBox .inpaint-box .one-step-change-tool-tab .inpaint-tool-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      width: 50%;
      height: 35px;
      line-height: 34px;
      text-align: center;
      color: #fff;
      user-select: none;
      cursor: pointer; }
      .translAreaBox .inpaint-box .one-step-change-tool-tab .inpaint-tool-btn.active {
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
        background: #353a43;
        font-size: 14px;
        color: #0fb; }
      .translAreaBox .inpaint-box .one-step-change-tool-tab .inpaint-tool-btn:hover {
        font-size: 14px; }
    .translAreaBox .inpaint-box .box-operation {
      background: #343a44;
      padding: 15px;
      position: relative;
      z-index: 11; }
      .translAreaBox .inpaint-box .box-operation .text {
        color: #fff;
        margin-bottom: .25rem; }
      .translAreaBox .inpaint-box .box-operation .brush-range-area {
        padding: 2px 0 3px;
        border: 1px solid #50565f;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        margin-top: 10px; }
        .translAreaBox .inpaint-box .box-operation .brush-range-area input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 18px;
          width: 18px;
          margin-top: -2px;
          background: #ffffff;
          border-radius: 50%;
          border: solid 0.125em rgba(205, 224, 230, 0.5);
          box-shadow: 0 .125em .125em #3b4547; }
        .translAreaBox .inpaint-box .box-operation .brush-range-area input[type=range]::-ms-thumb {
          -webkit-appearance: none;
          height: 18px;
          width: 18px;
          margin-top: -2px;
          background: #ffffff;
          border-radius: 50%;
          border: solid 0.125em rgba(205, 224, 230, 0.5);
          box-shadow: 0 .125em .125em #3b4547; }
        .translAreaBox .inpaint-box .box-operation .brush-range-area input[type=range]:focus {
          outline: none; }
        .translAreaBox .inpaint-box .box-operation .brush-range-area .paint-size {
          -webkit-appearance: none;
          width: 100%;
          border-radius: 15px;
          background-color: transparent;
          position: absolute;
          top: -1px;
          height: 7px;
          cursor: pointer; }
      .translAreaBox .inpaint-box .box-operation .brush-btn-area {
        margin-top: 25px;
        display: flex;
        justify-content: space-around; }
        .translAreaBox .inpaint-box .box-operation .brush-btn-area .paint-content-btn {
          flex: 1;
          margin: 0;
          text-align: center;
          border: 1px solid #50565f;
          border-radius: 4px;
          font-size: 12px;
          display: inline-block;
          vertical-align: top;
          padding: 0;
          cursor: pointer;
          height: 28px;
          line-height: 26px;
          color: #fff;
          border-color: #50565f;
          background: #333a45 linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4)); }
          .translAreaBox .inpaint-box .box-operation .brush-btn-area .paint-content-btn:hover {
            font-size: 14px;
            background: #333a45 linear-gradient(180deg, rgba(0, 0, 0, 0.4) rgba(255, 255, 255, 0.4)); }
          .translAreaBox .inpaint-box .box-operation .brush-btn-area .paint-content-btn:first-of-type {
            margin-right: 7.5px; }
          .translAreaBox .inpaint-box .box-operation .brush-btn-area .paint-content-btn .back-paint {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff; }
            .translAreaBox .inpaint-box .box-operation .brush-btn-area .paint-content-btn .back-paint .fa {
              font-size: 12px; }
    .translAreaBox .inpaint-box .one-step-translate-step {
      padding: 0 15px 15px;
      text-align: right;
      display: flex;
      background: #343a44; }
      .translAreaBox .inpaint-box .one-step-translate-step .btn {
        padding: 0 15px;
        border-radius: 2px;
        box-sizing: border-box;
        height: 30px;
        border-color: #666;
        font-size: 12px;
        font-weight: 800;
        border: 0;
        color: #fff;
        transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
        background: #1cc7d0 linear-gradient(45deg, #1cc7d0, #2dde98);
        line-height: 29px;
        width: 100%; }

.translContainer {
  position: fixed;
  top: 50px;
  right: 0;
  width: 280px;
  z-index: 10000;
  box-shadow: 0 0 52px -5px rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  background: #333a45;
  border-radius: 5px; }
  .translContainer .box-title {
    padding: 5px;
    background: #333a45 linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 11;
    color: #fff;
    cursor: move;
    user-select: none; }
  .translContainer .one-step-change-tool-tab .inpaint-tool-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    width: 50%;
    height: 35px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    user-select: none;
    cursor: pointer; }
    .translContainer .one-step-change-tool-tab .inpaint-tool-btn.active {
      box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
      background: #353a43;
      font-size: 14px;
      color: #0fb; }
    .translContainer .one-step-change-tool-tab .inpaint-tool-btn:hover {
      font-size: 14px; }
  .translContainer .source-area {
    cursor: default;
    position: relative;
    border-radius: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    max-height: 94px;
    max-width: 250px;
    background-color: #2b3238;
    text-align: center; }
    .translContainer .source-area img {
      max-width: 100%; }
  .translContainer .ml-auto {
    margin-left: auto; }
  .translContainer .ocr-operation {
    display: flex !important;
    padding: .5rem 12px;
    color: white; }
  .translContainer .ocr-title {
    font-size: 12px;
    line-height: 24px;
    user-select: none; }
  .translContainer .ocr-btn {
    display: inline-block;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #50565f;
    user-select: none;
    cursor: pointer;
    color: #fff;
    background: #333a45 linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
    text-decoration: none; }
    .translContainer .ocr-btn:hover {
      text-decoration: none; }
  .translContainer .ocr-result {
    width: 100%;
    color: white;
    padding: 0 8px 8px;
    text-align: left; }
    .translContainer .ocr-result-inner {
      border: 1px solid #50565f;
      border-radius: 2px;
      background: #333a45;
      padding: 5px;
      max-height: 93px;
      overflow-y: auto; }
  .translContainer .ocr-input {
    border: 0;
    background: transparent;
    width: 100%;
    color: #fff; }
    .translContainer .ocr-input:focus {
      outline: none; }
  .translContainer .translate-btn-area {
    position: relative;
    height: 0;
    z-index: 12; }
    .translContainer .translate-btn-area .translate-btn {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      height: 30px;
      background: #333;
      border-radius: 15px;
      border: 2px solid #fff;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
      line-height: 26px;
      padding: 0;
      cursor: pointer;
      text-align: center;
      text-decoration: none; }
      .translContainer .translate-btn-area .translate-btn .mx-2 {
        margin-left: .5rem; }
      .translContainer .translate-btn-area .translate-btn:hover {
        text-decoration: none; }
  .translContainer .one-step-translate-step {
    padding: 0 15px 15px;
    text-align: right;
    display: flex; }
    .translContainer .one-step-translate-step .btn.translate-finish {
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      flex: 1;
      background-image: linear-gradient(45deg, #1cc7d0, #2dde98);
      border: 0;
      line-height: 28px;
      color: #fff;
      padding: 0 15px;
      border-radius: 2px;
      box-sizing: border-box;
      height: 30px;
      font-size: 12px;
      font-weight: 800;
      transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
      user-select: none;
      text-decoration: none; }
      .translContainer .one-step-translate-step .btn.translate-finish:hover {
        text-decoration: none; }
  .translContainer .translate-area {
    background: transparent;
    border-radius: 0;
    padding: 8px;
    border: 0;
    box-shadow: 0 -3px 10px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 11;
    width: 100%; }
    .translContainer .translate-area .input-box {
      font-size: 0;
      margin-bottom: 8px; }
      .translContainer .translate-area .input-box textarea {
        font-size: 14px;
        border-radius: 2px;
        border-color: #50565f;
        background: #333a45 linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
        max-height: 93px;
        padding: 5px;
        width: 100%;
        color: #fff;
        overflow: auto; }
        .translContainer .translate-area .input-box textarea:focus {
          outline: none; }
    .translContainer .translate-area .translate-attribute-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .translContainer .translate-area .translate-attribute-box > div {
        margin-bottom: 10px; }
        .translContainer .translate-area .translate-attribute-box > div.btn-group {
          position: relative;
          display: inline-flex;
          vertical-align: middle; }
          .translContainer .translate-area .translate-attribute-box > div.btn-group > .btn:first-child {
            margin-left: 0; }
      .translContainer .translate-area .translate-attribute-box .btn-group-sm > .btn {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem; }
        .translContainer .translate-area .translate-attribute-box .btn-group-sm > .btn .textCase {
          font-size: 16px; }
      .translContainer .translate-area .translate-attribute-box .font-family button {
        width: 173px;
        overflow-x: hidden; }
      .translContainer .translate-area .translate-attribute-box .font-family .dropdown-menu {
        max-height: 150px;
        overflow-y: scroll; }
      .translContainer .translate-area .translate-attribute-box .font-family .caret-content {
        margin-left: 6px; }
      .translContainer .translate-area .translate-attribute-box .font-size .dropdown-menu {
        min-width: 60px;
        max-height: 150px;
        overflow-y: scroll; }
      .translContainer .translate-area .translate-attribute-box .font-size button {
        width: 50px; }
      .translContainer .translate-area .translate-attribute-box .font-size .caret-content {
        margin-left: 6px; }
      .translContainer .translate-area .translate-attribute-box .nd-btn-group {
        margin-bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-between; }
        .translContainer .translate-area .translate-attribute-box .nd-btn-group .btn-group {
          position: relative;
          display: -ms-inline-flexbox;
          display: inline-flex;
          vertical-align: middle; }
        .translContainer .translate-area .translate-attribute-box .nd-btn-group > .btn-group > .btn {
          height: 27px;
          min-width: 28px;
          line-height: 20px;
          padding: 3px;
          text-align: center; }
          .translContainer .translate-area .translate-attribute-box .nd-btn-group > .btn-group > .btn.font-fill-action {
            padding-left: 5px;
            padding-right: 5px;
            z-index: 2; }
          .translContainer .translate-area .translate-attribute-box .nd-btn-group > .btn-group > .btn .w-10 {
            display: inline-block;
            width: 14px;
            background: transparent;
            border: none;
            text-align: center;
            outline: none; }
          .translContainer .translate-area .translate-attribute-box .nd-btn-group > .btn-group > .btn .w-28 {
            display: inline-block;
            min-width: 28px;
            width: 30px;
            background: transparent;
            border: none;
            text-align: center;
            outline: none; }
        .translContainer .translate-area .translate-attribute-box .nd-btn-group .color-picker img {
          width: 16px;
          height: 16px;
          margin-bottom: 5px; }
      .translContainer .translate-area .translate-attribute-box .font-fill input[type=text] {
        height: 18px;
        width: 18px;
        padding: 0;
        display: inline-block; }
      .translContainer .translate-area .translate-attribute-box .font-fill .minicolors-theme-default .minicolors-input {
        display: inline-block; }
      .translContainer .translate-area .translate-attribute-box .font-fill .minicolors {
        position: relative;
        width: auto;
        height: 18px;
        display: inline-block; }
      .translContainer .translate-area .translate-attribute-box .font-fill .minicolors-swatch {
        position: absolute;
        vertical-align: middle;
        border: 1px solid #ccc;
        cursor: text;
        padding: 0;
        margin: 0;
        display: inline-block;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px; }
        .translContainer .translate-area .translate-attribute-box .font-fill .minicolors-swatch-color {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1; }
      .translContainer .translate-area .translate-attribute-box .font-layout .vertical {
        transform: rotate(90deg); }
      .translContainer .translate-area .translate-attribute-box .text-case {
        font-size: 16px; }
      .translContainer .translate-area .translate-attribute-box .font-weight-style input[type=checkbox] {
        display: none; }
      .translContainer .translate-area .translate-attribute-box .font-weight-style .glyphicon {
        font-size: 12px; }
      .translContainer .translate-area .translate-attribute-box .text-align input[type=radio] {
        display: none; }
      .translContainer .translate-area .translate-attribute-box .btn.btn-default {
        color: #fff;
        border-color: #50565f;
        background: #333a45 linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
        cursor: pointer; }
        .translContainer .translate-area .translate-attribute-box .btn.btn-default.active {
          background: #333a45 linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
          z-index: auto; }
      .translContainer .translate-area .translate-attribute-box .func-title {
        color: #fff;
        font-size: 13px;
        margin: 5px 0; }
      .translContainer .translate-area .translate-attribute-box .stroke-width label {
        margin: 0 4px; }
      .translContainer .translate-area .translate-attribute-box .stroke-width-input {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 120px;
        margin-top: 12px;
        height: 4px;
        background-color: #f0f0f0;
        cursor: pointer;
        appearance: none;
        outline: none;
        /* 公用滑条样式 */
        /* 公用滑块样式 */ }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-ms-track {
          height: 4px;
          border-radius: 2px;
          appearance: none;
          border-color: transparent;
          color: transparent;
          padding: 10px 0;
          background-color: #fff; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-webkit-slider-runnable-track {
          height: 4px;
          border-radius: 2px;
          appearance: none; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::moz-range-track {
          height: 4px;
          border-radius: 2px;
          appearance: none;
          outline: none;
          background-color: #fff; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-moz-range-progress {
          outline: none;
          height: 6px;
          background: linear-gradient(to right, #a100ff, #a100ff 100%, #f0f0f0);
          border-radius: 3px; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-ms-thumb {
          box-shadow: 0 .125em .125em #666666;
          display: block;
          width: 6px;
          height: 14px;
          background-color: #fff;
          box-sizing: border-box;
          appearance: none;
          border: 1px solid grey;
          margin-top: -8px; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-moz-range-thumb {
          box-shadow: 0 .125em .125em #666666;
          display: block;
          width: 6px;
          height: 14px;
          background-color: #fff;
          box-sizing: border-box;
          appearance: none;
          margin-top: -5px; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-webkit-slider-thumb {
          box-shadow: 0 .125em .125em #666666;
          display: block;
          width: 6px;
          height: 14px;
          background-color: #fff;
          box-sizing: border-box;
          appearance: none;
          margin-top: -5px; }
        .translContainer .translate-area .translate-attribute-box .stroke-width-input::-moz-focus-outer {
          border: 0; }
      .translContainer .translate-area .translate-attribute-box .line-height {
        margin-top: 10px;
        color: white; }
      .translContainer .translate-area .translate-attribute-box .circle {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 16px;
        height: 16px;
        border-radius: 50%; }
        .translContainer .translate-area .translate-attribute-box .circle.white {
          background-color: white; }
        .translContainer .translate-area .translate-attribute-box .circle.black {
          background-color: black; }

.translResultBox-container {
  position: absolute; }

.resultContainer {
  position: absolute;
  padding: 5px; }
