.workbench {
    min-width: 570px;
    flex: 1;
    border-left: 1px solid #050905;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    position: relative;
    &-main {
        height: calc(100vh - 50px);
        overflow-y: auto;
        .workbench-work-wrap {
            padding: 40px 30px;
            position: relative;
            .trans-guide-prompt {
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                color: #777;
                text-align: center;
                -moz-user-select:none;
                -webkit-user-select:none;
                user-select:none;
            }
            .canvas-container {
                position: relative;
                user-select: none;
                margin: 0 auto;
                .lower-canvas {
                    position: absolute;
                    left: 0px; 
                    top: 0px; 
                    touch-action: none; 
                    user-select: none;
                }
                .upper-canvas {
                    position: absolute;
                    left: 0px; 
                    top: 0px; 
                    touch-action: none; 
                    user-select: none;
                    cursor: crosshair;
                }
            }
        }
    }
    &-container {
        width: 100%;
        height: calc(100vh - 51px);
        overflow: hidden;
        .trans-result-right-menu {
            padding: 0;
            height: calc(100vh - 51px);
            border-top: 1px solid #50575d;
            background: #373e47;
            border-left: 1px solid #050807;
            position: relative;
            padding-top: 59px;
            transition: all .3s;
            .result-header{
                margin: 0;
                color: #f1f1f1;
                text-align: center;
                border-bottom: 1px solid #050807;
                z-index: 99;
                font-size: 0;
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                .result-inner{
                    border: 1px solid #fff;
                    border-radius: 3px;
                    .result-title{
                        text-align: center;
                        line-height: 36px;
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        font-size: 14px;
                    }
                    .result-select {
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        font-size: 14px;
                        background: linear-gradient(180deg,transparent,rgba(0,0,0,.8));
                        .btn-group{
                            width: 100%;
                            position: relative;
                            display: inline-flex;
                            vertical-align: middle;
                            .potato-btn {
                                overflow: hidden;
                                font-size: 14px;
                                line-height: 33px;
                                background: transparent;
                                margin: 0 auto;
                                border: 0;
                                width: 100%;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
            .content-inner{
                height: calc(100vh - 59px - 50px);
                overflow-y: auto;
                padding-right: 15px;
                .translate-code-content {
                    padding: 8px;
                }
                .result_item {
                    cursor: grab;
                    padding: 5px;
                    box-sizing: border-box;
                    .result-inner {
                        padding: 10px;
                        position: relative;
                        border-radius: 5px;
                        box-shadow: 0 0 10px -1px rgba(0,0,0,.5);
                        border: 1px solid transparent;
                        box-sizing: border-box;
                        .result-index {
                            display: block;
                            text-align: right;
                            font-weight: 800;
                            padding-bottom: 5px;
                            color: #fff;
                            padding-right: 5px;
                            overflow: hidden;
                        }
                        .origin-image-area {
                            .result-origin-text {
                                color: #fff;
                                border: 1px solid #50565f;
                                background: #333a45;
                                padding: 8px;
                                border-radius: 2px;
                                margin: 0;
                                max-height: 200px;
                                overflow-y: auto;
                            }
                        }
                        .result-translate-btn-area {
                            position: relative;
                            height: 10px;
                        }
                        .result-text {
                            margin: 0;
                            padding: 8px;
                            border-radius: 2px;
                            border: 1px solid #50565f;
                            color: #fff;
                            background: #333a45 linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.4));
                            max-height: 200px;
                            overflow-y: auto;
                        }
                    }
                }
                .empty-inner {
                    text-align: center;
                    padding: 20px 0;
                    .empty-text {
                        font-size: 20px;
                        font-weight: 800;
                        color: #fff;
                    }
                }
            }
        }
        .canvas-zoom {
            position: absolute;
            left: 20px;
            bottom: 20px;
            width: 40px;
            z-index: 1;
            border-radius: 3px;
            background: #fff;
            .zoom-num {
                color: #333!important;
                display: block;
                text-align: center;
                box-shadow: 0 0 18px -3px rgba(0,0,0,.3);
                padding: 5px 0;
                font-weight: 800;
            }
            .zoom-btn {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 36px;
                color: #333!important;
                display: block;
                text-align: center;
                cursor: pointer;
                user-select: none;
                &:hover {
                    text-decoration: none;
                }
            }
            .canvas-zoom-scroll {
                transform: rotate(270deg);
                width: 100px;
                height: 110px;
                margin: 0 -30px;
            }
        }
    }
}
.cropBox {
    position: absolute;
    min-width: 60px;
    min-height: 60px;
}

.cancel {
    position: absolute;
    top: -16px;
    right: -16px;
    border-radius: 50%;
    background-color: #fdfbfb;
    background-image: linear-gradient(45deg,#ff4f81 30%,#fe6c5f);
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 2px solid #fff;
    transition: all .3s;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}
.source-area-tip {
    position: absolute;
    bottom: -44px;
    right: 2px;
    width: 160px;
    .content-tip {
        color: white;
        border-radius: 20px;
        background: rgba(0,0,0,.7);
        padding: 5px 15px;
        border: 2px solid #fff;
        text-align: center;
        white-space: nowrap;
    }
}

.ok {
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .3s;
    background-color: #a5d296;
    background-image: linear-gradient(45deg,#1cc7d0,#2dde98);
    box-shadow: 0 2px 6px 0 rgba(45,222,152,.4);
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.border-top {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right,#ff4f81 0%, #ff4f81 50%, transparent 50%);
	background-size: 20px 2px;
	background-repeat: repeat-x;
}

.border-left {
    position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-image: linear-gradient(to bottom, #ff4f81 0%,#ff4f81 50%, transparent 50%);
	background-size: 2px 20px;
	background-repeat: repeat-y;
}

.border-bottom {
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right, #ff4f81 0%, #ff4f81 50%, transparent 50%);
	background-size: 20px 2px;
	background-repeat: repeat-x;
}

.border-right {
    width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-image: linear-gradient(to bottom,#ff4f81 0%, #ff4f81 50%, transparent 50%);
	background-size: 2px 20px;
	background-repeat: repeat-y;
}

.move {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: move;
}

.drag {
    position:absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #ff4f81;
    border-radius: 50%;
    background:white;
    overflow:hidden;
    z-index: 2;
}

.nw-resize {
    left:-4px;
    top:-4px;
    cursor:nw-resize;
}

.sw-resize {
    left:-4px;
    bottom:-4px;
    cursor:sw-resize;
}

.ne-resize {
    right:-4px;
    top:-4px;
    cursor:ne-resize;
}

.se-resize {
    right:-4px;
    bottom:-4px;
    cursor:se-resize;
}

.n-resize {
    top:-4px;
    left:50%;
    margin-left:-4px;
    cursor:n-resize;
}

.s-resize {
    bottom:-4px;
    left:50%;
    margin-left:-4px;
    cursor:s-resize;
}

.e-resize {
    right:-4px;
    top:50%;
    margin-top:-4px;
    cursor:e-resize;
}

.w-resize {
    left:-4px;
    top:50%;
    margin-top:-4px;
    cursor:w-resize;
}

.translAreaBox {
    position: absolute;
    .canvasContainer {
        position: relative;
        left: 0;
        top: 0;
        overflow: hidden;
        .translCanvas {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            cursor: crosshair;
        }
        .resultCanvas{
            position: absolute;
        }
    }
    .inpaint-box {
        position: absolute;
        width: 250px;
        right: -266px;
        top: -40px;
        padding: 0;
        box-shadow: 0 0 52px -5px rgba(0,0,0,.7);
        border-radius: 5px 5px 0 0;
        background-color: #2b3238;
        border: 1px solid #7688a0;
        z-index: 11;
        .box-title {
            padding: 5px;
            background: #333a45 linear-gradient(180deg,transparent,rgba(0,0,0,.4));
            border-radius: 5px 5px 0 0;
            box-shadow: 0 1px 5px rgba(0,0,0,.5);
            position: relative;
            color: #fff;
            cursor: move;
        }
        .one-step-change-tool-tab {
            .inpaint-tool-btn {
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                width: 50%;
                height: 35px;
                line-height: 34px;
                text-align: center;
                color: #fff;
                user-select: none;
                cursor: pointer;
                &.active {
                    box-shadow: 1px 0 5px rgba(0,0,0,.4);
                    background: #353a43;
                    font-size: 14px;
                    color:#0fb;
                }
                &:hover {
                    font-size: 14px;
                }
            }
        }
        .box-operation {
            background: #343a44;
            padding: 15px;
            position: relative;
            z-index: 11;
            .text {
                color: #fff;
                margin-bottom: .25rem;
            }
            .brush-range-area {
                padding: 2px 0 3px;
                border: 1px solid #50565f;
                border-radius: 4px;
                box-sizing: border-box;
                position: relative;
                margin-top: 10px;
                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 18px;
                    width: 18px;
                    margin-top: -2px;
                    background: #ffffff; 
                    border-radius: 50%;
                    border: solid 0.125em rgba(205, 224, 230, 0.5);
                    box-shadow: 0 .125em .125em #3b4547;
                }
                input[type=range]::-ms-thumb {
                    -webkit-appearance: none;
                    height: 18px;
                    width: 18px;
                    margin-top: -2px;
                    background: #ffffff; 
                    border-radius: 50%;
                    border: solid 0.125em rgba(205, 224, 230, 0.5);
                    box-shadow: 0 .125em .125em #3b4547;
                }
                input[type=range]:focus {
                    outline: none;
                }
                .paint-size {
                    -webkit-appearance: none;
                    width: 100%;
                    border-radius: 15px;
                    background-color: transparent;
                    position: absolute;
                    top: -1px;
                    height: 7px;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(255, 255, 255, .2);
                    }
                }
            }
            .brush-btn-area {
                margin-top: 25px;
                display: flex;
                justify-content: space-around;
                .paint-content-btn {
                    flex: 1;
                    margin: 0;
                    text-align: center;
                    border: 1px solid #50565f;
                    border-radius: 4px;
                    font-size: 12px;
                    display: inline-block;
                    vertical-align: top;
                    padding: 0;
                    cursor: pointer;
                    height: 28px;
                    line-height: 26px;
                    color: #fff;
                    border-color: #50565f;
                    background: #333a45 linear-gradient(180deg, transparent ,rgba(0,0,0,.4));
                    &:hover {
                        font-size: 14px;
                        background: #333a45 linear-gradient(180deg, rgba(0,0,0,.4) rgba(255, 255, 255, .4));
                    }
                    &:first-of-type {
                        margin-right: 7.5px;
                    }
                    .back-paint {
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        .fa {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .one-step-translate-step {
            padding: 0 15px 15px;
            text-align: right;
            display: flex;
            background: #343a44;
            .btn{
                padding: 0 15px;
                border-radius: 2px;
                box-sizing: border-box;
                height: 30px;
                border-color: #666;
                font-size: 12px;
                font-weight: 800;
                border: 0;
                color: #fff;
                transition: all 1s cubic-bezier(.23,1,.32,1);
                background: #1cc7d0 linear-gradient(45deg,#1cc7d0,#2dde98);
                line-height: 29px;
                width: 100%;
            }
        }
        
    }
}

.translContainer {
    position: fixed;
    top: 50px;
    right: 0;
    width: 250px;
    z-index: 10000;
    box-shadow: 0 0 52px -5px rgba(0,0,0,.7);
    border: 1px solid #000;
    background: #333a45;
    border-radius: 5px;
    .box-title {
        padding: 5px;
        background: #333a45 linear-gradient(180deg,transparent,rgba(0,0,0,.4));
        border-radius: 5px 5px 0 0;
        box-shadow: 0 1px 10px -3px rgba(0,0,0,.5);
        position: relative;
        z-index: 11;
        color: #fff;
        cursor: move;
        user-select: none;
    }
    .one-step-change-tool-tab {
        .inpaint-tool-btn {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            width: 50%;
            height: 35px;
            line-height: 34px;
            text-align: center;
            color: #fff;
            user-select: none;
            cursor: pointer;
            &.active {
                box-shadow: 1px 0 5px rgba(0,0,0,.4);
                background: #353a43;
                font-size: 14px;
                color:#0fb;
            }
            &:hover {
                font-size: 14px;
            }
        }
    }
    .source-area {
        cursor: default;
        position: relative;
        border-radius: 0;
        border: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 10;
        max-height: 94px;
        max-width: 250px;
        background-color: #2b3238;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    .ml-auto {
        margin-left: auto;
    }
    .ocr{
        &-operation {
            display: flex!important;
            padding: .5rem 12px;
            color: white;
        }
        &-title {
            font-size: 12px;
            line-height: 24px;
            user-select: none;
        }
        &-btn {
            display: inline-block;
            padding: 2px 10px;
            font-size: 12px;
            border-radius: 2px;
            border: 1px solid #50565f;
            user-select: none;
            cursor: pointer;
            color: #fff;
            background: #333a45 linear-gradient(180deg,transparent,rgba(0,0,0,.4));
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        &-result {
            width: 100%;
            color: white;
            padding: 0 8px 8px;
            text-align: left;
            &-inner {
                border: 1px solid #50565f;
                border-radius: 2px;
                background: #333a45;
                padding: 5px;
                max-height: 93px;
                overflow-y: auto;
            }
        }
        &-input {
            border: 0;
            background: transparent;
            width: 100%;
            color: #fff;
            &:focus {
                outline: none;
            }
        }
    }
    .translate-btn-area {
        position: relative;
        height: 0;
        z-index: 12;
        .translate-btn {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            height: 30px;
            background: #333;
            border-radius: 15px;
            border: 2px solid #fff;
            box-shadow: 0 1px 10px rgba(0,0,0,.5);
            line-height: 26px;
            padding: 0;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            .mx-2 {
                margin-left: .5rem;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    .one-step-translate-step {
        padding: 0 15px 15px;
        text-align: right;
        display: flex;
        .btn.translate-finish {
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            flex: 1;
            background-image: linear-gradient(45deg,#1cc7d0,#2dde98);
            border: 0;
            line-height: 28px;
            color: #fff;
            padding: 0 15px;
            border-radius: 2px;
            box-sizing: border-box;
            height: 30px;
            font-size: 12px;
            font-weight: 800;
            transition: all 1s cubic-bezier(.23,1,.32,1);
            user-select: none;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .translate-area {
        background: transparent;
        border-radius: 0;
        padding: 8px;
        border: 0;
        box-shadow: 0 -3px 10px -5px rgba(0,0,0,.5);
        position: relative;
        z-index: 11;
        width: 100%;
        .input-box {
            font-size: 0;
            margin-bottom: 8px;
            textarea {
                font-size: 14px;
                border-radius: 2px;
                border-color: #50565f;
                background: #333a45 linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.4));
                max-height: 93px;
                padding: 5px;
                width: 100%;
                color: #fff;
                overflow: auto;
                &:focus {
                    outline: none;
                }
            }
        }
        .translate-attribute-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &>div{
                margin-bottom: 10px;
                &.btn-group{
                    position: relative;
                    display: inline-flex;
                    vertical-align: middle;
                    &>.btn {
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            .btn-group-sm {
                &>.btn{
                    padding: .25rem .5rem;
                    font-size: .875rem;
                    line-height: 1.5;
                    border-radius: .2rem;
                }
            }
           
            .font-family {
                button {
                    width: 173px;
                    overflow-x: hidden;
                }
                .dropdown-menu {
                    max-height: 150px;
                    overflow-y: scroll;
                }
                .caret-content {
                    margin-left: 6px;
                }
            }
            .font-size {
                .dropdown-menu {
                    min-width: 60px;
                    max-height: 150px;
                    overflow-y: scroll;
                }
                button {
                    width: 50px;
                }
                .caret-content {
                    margin-left: 6px;
                }
            }
            .nd-btn-group {
                margin-bottom: 0;
                display: flex;
                width: 100%;
                justify-content: space-between;
                .btn-group {
                    position: relative;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    vertical-align: middle
                }
                &>.btn-group>.btn {
                    height: 27px;
                    min-width: 30px;
                    line-height: 20px;
                    padding: 3px;
                    text-align: center;
                    &.font-fill-action{
                        padding-left: 5px;
                        padding-right: 5px;
                        z-index: 2;
                    }
                }
                .color-picker {
                    img {
                        width: 16px;
                        height: 16px;
                        margin-bottom: 5px;
                    }
                }
            }
            .font-fill {
                input[type=text]{
                    height: 18px;
                    width: 18px;
                    padding: 0;
                    display: inline-block;
                }
                .minicolors-theme-default {
                    .minicolors-input {
                        display: inline-block;
                    }
                }
                .minicolors {
                    position: relative;
                    width: auto;
                    height: 18px;
                    display: inline-block;
                }
                .minicolors-swatch{
                    position: absolute;
                    vertical-align: middle;
                    border: 1px solid #ccc;
                    cursor: text;
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    &-color {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 1;
                    }
                }
            }
            .font-weight-style {
                input[type=checkbox] {
                    display: none;
                }
                .glyphicon {
                    font-size: 12px;
                }
            }
            .text-align {
                input[type=radio] {
                    display: none;
                }
            }
            .btn.btn-default {
                color: #fff;
                border-color: #50565f;
                background: #333a45 linear-gradient(180deg,transparent,rgba(0,0,0,.4));
                cursor: pointer;
                &.active{
                    background: #333a45 linear-gradient(0deg,rgba(0,0,0,.4),rgba(0,0,0,.9));
                    z-index: auto;
                }
            }
            .func-title {
                color: #fff;
                font-size: 13px;
                margin: 5px 0;
            }
            .stroke-width {
                label {
                    margin: 0 4px;
                }
            }
            .stroke-width-input {
                width: 75%;
            }
            .circle {
                position: absolute;
                top: 4px;
                left: 4px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                &.white {
                    background-color: white;
                }
                &.black {
                    background-color: black;
                }
            }
        }
        
    }
}
.translResultBox {
    &-container {
        position: absolute;
    }
}

.resultContainer {
    position: absolute;
}