.workbench {
    min-width: 570px;
    flex: 1;
    border-left: 1px solid #050905;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    position: relative;
    &-main {
        height: calc(100vh - 50px);
        overflow-y: auto;
        .workbench-work-wrap {
            padding: 40px 30px;
            position: relative;
            .trans-guide-prompt {
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                color: #777;
                text-align: center;
            }
            .canvas-container {
                width: 565px;
                height: 800px;
                position: relative;
                user-select: none;
                margin: 0 auto;
                .lower-canvas {
                    position: absolute; 
                    width: 565px; 
                    height: 800px; 
                    left: 0px; 
                    top: 0px; 
                    touch-action: none; 
                    user-select: none;
                    cursor: crosshair;
                }
            }
        }
    }
    &-container {
        width: 100%;
        height: calc(100vh - 51px);
        overflow: hidden;
        .trans-result-right-menu {
            padding: 0;
            height: calc(100vh - 51px);
            border-top: 1px solid #50575d;
            background: #373e47;
            border-left: 1px solid #050807;
            position: relative;
            padding-top: 59px;
            transition: all .3s;
        }
        .canvas-zoom {
            position: absolute;
            left: 50px;
            bottom: 20px;
            width: 40px;
            z-index: 1;
            border-radius: 3px;
            background: #fff;
            .zoom-num {
                color: #333!important;
                display: block;
                text-align: center;
                box-shadow: 0 0 18px -3px rgba(0,0,0,.3);
                padding: 5px 0;
                font-weight: 800;
            }
            .zoom-btn {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 36px;
                color: #333!important;
                display: block;
                text-align: center;
                &:hover {
                    text-decoration: none;
                }
            }
            .canvas-zoom-scroll {
                transform: rotate(270deg);
                width: 100px;
                height: 110px;
                margin: 0 -30px;
            }
        }
    }
}
.zxxCropBox {
    position: absolute;
}

.cancel {
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 50%;
    background-color: #ef9e9f;
    background-image: linear-gradient(45deg,#ff4f81 30%,#fe6c5f);
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 2px solid #fff;
    transition: all .3s;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}
.source-area-tip {
    position: absolute;
    bottom: -50px;
    right: -2px;
    width: 160px;
    .content-tip {
        color: white;
        border-radius: 20px;
        background: rgba(0,0,0,.7);
        padding: 5px 15px;
        border: 2px solid #fff;
        text-align: center;
        white-space: nowrap;
    }
}

.ok {
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .3s;
    background-color: #a5d296;
    background-image: linear-gradient(45deg,#1cc7d0,#2dde98);
    box-shadow: 0 2px 6px 0 rgba(45,222,152,.4);
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.border-top {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right,#ff4f81 0%, #ff4f81 50%, transparent 50%);
	background-size: 20px 2px;
	background-repeat: repeat-x;
}

.border-left {
    position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-image: linear-gradient(to bottom, #ff4f81 0%,#ff4f81 50%, transparent 50%);
	background-size: 2px 20px;
	background-repeat: repeat-y;
}

.border-bottom {
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right, #ff4f81 0%, #ff4f81 50%, transparent 50%);
	background-size: 20px 2px;
	background-repeat: repeat-x;
}

.border-right {
    width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-image: linear-gradient(to bottom,#ff4f81 0%, #ff4f81 50%, transparent 50%);
	background-size: 2px 20px;
	background-repeat: repeat-y;
}

.move {
    height: 100%;
    opacity:0.3;
    filter:alpha(opacity=30);
    cursor: move;
}

.drag {
    position:absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #ff4f81;
    border-radius: 50%;
    background:white;
    overflow:hidden;
    z-index: 2;
}

.nw-resize {
    left:-4px;
    top:-4px;
    cursor:nw-resize;
}

.sw-resize {
    left:-4px;
    bottom:-4px;
    cursor:sw-resize;
}

.ne-resize {
    right:-4px;
    top:-4px;
    cursor:ne-resize;
}

.se-resize {
    right:-4px;
    bottom:-4px;
    cursor:se-resize;
}

.n-resize {
    top:-4px;
    left:50%;
    margin-left:-4px;
    cursor:n-resize;
}

.s-resize {
    bottom:-4px;
    left:50%;
    margin-left:-4px;
    cursor:s-resize;
}

.e-resize {
    right:-4px;
    top:50%;
    margin-top:-4px;
    cursor:e-resize;
}

.w-resize {
    left:-4px;
    top:50%;
    margin-top:-4px;
    cursor:w-resize;
}