.header {
  background: repeating-linear-gradient(135deg, #333a45 1%, #2f363f 2%);
  height: 50px;
  padding: 8px 15px;
  flex-wrap: nowrap;
  position: relative;
  z-index: 11; }

.comments {
  width: 50px;
  text-align: right;
  position: relative; }
  .comments .fa {
    font-size: 20px;
    color: white;
    cursor: pointer; }
  .comments .badge {
    position: absolute;
    right: -14px;
    top: -5px;
    background-color: mediumturquoise;
    user-select: none; }

.dropdown-menu.feedMsg {
  left: -74px;
  top: 33px;
  width: 209px;
  max-height: 96vh;
  overflow-y: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.feedMsg-header {
  padding: 0 15px;
  border-bottom: 1px solid #333a45;
  margin-bottom: 15px; }

.feedMsg-item {
  padding: 0 15px;
  padding-bottom: 15px; }
  .feedMsg-item-content {
    cursor: pointer;
    white-space: normal; }
    .feedMsg-item-content.shortContent {
      white-space: nowrap;
      text-overflow: ellipsis; }
    .feedMsg-item-content:hover {
      text-decoration: underline; }
  .feedMsg-item .time {
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.65);
    padding-bottom: 15px; }
  .feedMsg-item:first-child {
    margin-top: 0; }
  .feedMsg-item:last-child .time {
    border-bottom: 0; }
