.header {
  background: repeating-linear-gradient(135deg, #333a45 1%, #2f363f 2%);
  height: 50px;
  padding: 8px 15px;
  flex-wrap: nowrap;
  position: relative;
  z-index: 11; }

.remark {
  position: absolute;
  top: 43px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  z-index: 100; }

.glossaryModal {
  position: absolute;
  left: -74px;
  top: 43px;
  min-width: 580px;
  padding: 10px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  z-index: 100; }
  .glossaryModal input {
    margin-right: 15px;
    max-width: 188px; }
  .glossaryModal button {
    margin-right: 15px;
    padding: 6px 15px;
    border: 1px solid #ccc; }
  .glossaryModal .glossary_body {
    margin-top: 20px; }
    .glossaryModal .glossary_body .glossaryList {
      padding: 0; }
      .glossaryModal .glossary_body .glossaryList .glossary-item {
        list-style: none;
        margin-bottom: 10px; }
        .glossaryModal .glossary_body .glossaryList .glossary-item .orginText {
          float: left;
          border-bottom: 1px dashed #ccc;
          padding: 6px 10px;
          width: 150px;
          border-radius: 5px; }
        .glossaryModal .glossary_body .glossaryList .glossary-item .translTo {
          float: left;
          padding: 6px 15px; }
        .glossaryModal .glossary_body .glossaryList .glossary-item .translText {
          float: left;
          border-bottom: 1px dashed #ccc;
          padding: 6px 10px;
          width: 240px;
          border-radius: 5px; }
        .glossaryModal .glossary_body .glossaryList .glossary-item .deleteAction {
          float: right;
          margin-right: 33px;
          padding: 6px; }
        .glossaryModal .glossary_body .glossaryList .glossary-item::after {
          content: "";
          display: block;
          clear: both; }

.comments {
  width: 50px;
  text-align: right;
  position: relative; }
  .comments .fa {
    font-size: 20px;
    color: white;
    cursor: pointer; }
  .comments .badge {
    position: absolute;
    right: -14px;
    top: -5px;
    background-color: mediumturquoise;
    user-select: none; }

.dropdown-menu.feedMsg {
  left: -74px;
  top: 33px;
  width: 209px;
  max-height: 96vh;
  overflow-y: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.feedMsg-header {
  padding: 0 15px;
  border-bottom: 1px solid #333a45;
  margin-bottom: 15px; }

.feedMsg-item {
  padding: 0 15px;
  padding-bottom: 15px; }
  .feedMsg-item-content {
    cursor: pointer;
    white-space: normal; }
    .feedMsg-item-content.shortContent {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      max-height: 40px;
      line-height: 20px;
      -webkit-box-orient: vertical; }
    .feedMsg-item-content:hover {
      text-decoration: underline; }
  .feedMsg-item .time {
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.65);
    padding-bottom: 15px; }
  .feedMsg-item:first-child {
    margin-top: 0; }
  .feedMsg-item:last-child .time {
    border-bottom: 0; }
