.header {
    background: repeating-linear-gradient(135deg,#333a45 1%,#2f363f 2%);
    height: 50px;
    padding: 8px 15px;
    flex-wrap: nowrap;
    position: relative;
    z-index: 11;
}
.comments {
    width: 50px;
    text-align: right;
    position: relative;
    .fa {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }
    .badge {
        position: absolute;
        right: -14px;
        top:-5px;
        background-color: mediumturquoise;
        user-select: none;
    }
}
.dropdown-menu {
    &.feedMsg {
        left: -74px;
        top: 33px;
        width: 215px;
        max-height: 96vh;
        overflow-y: auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.feedMsg {
    
    &-header {
        padding: 0 15px;
        border-bottom: 1px solid #333a45;
        margin-bottom: 15px;
        &:before {
            content: '';
            // display: block;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-bottom: 8px solid red;
            border-right: 8px solid transparent;
            position: absolute;
            top: -8px;
            left: 100px;
            z-index: 1000;
        }
    }
    &-item {
        cursor: pointer;
        padding: 0 15px;
        &:hover {
            text-decoration: underline;
        }
        &:last-child {
            margin-bottom: 15px;
        }
    }
}
