.switch {
    margin-left: 5px;
    &:last-child {
        margin-right: 5px;
    }
    .toggle {
        position: relative;
        overflow: hidden;
        height: 31px;
        &-large {
            width: 127.875px;
        }
        &-small {
            width: 94.7344px;
        }
        &-handle {
            position: relative;
            margin: 0 auto;
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
            width: 0;
            border-width: 0 1px;
            background-color: #fff;
            border-radius: 20rem;
        }
        &-group {
            position: absolute;
            width: 200%;
            top: 0;
            bottom: 0;
            left: 0;
            transition: left .35s;
            -webkit-transition: left .35s;
            -moz-user-select: none;
            -webkit-user-select: none;
            .btn {
                &-sm {
                    padding-right: 1rem;
                    padding: .35rem .5rem;
                    font-size: 12px;
                    line-height: 1.5;
                }
                &-success {
                    color: #fff;
                    background-color: #28a745;
                    border: none;
                }
                &-secondary {
                    color: #fff;
                    background-color: #6c757d;
                }
                &-light {
                    color: #212529;
                    border-color: #f8f9fa;
                }
            }
        }
        &.off {
            .toggle-group {
                left: -100%;
            }
        }
        &-on, &-off {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 0;
            border: 0;
            border-radius: 0;
        }
        &-on {
            left: 0;
            right: 50%;
            &.btn-sm {
                padding-right: 1rem;
            }
        }
        &-off {
            left: 50%;
            right: 0;
            box-shadow: none;
        }
        
    }
    .ios {
        border-radius: 20rem;
    }
}