@font-face {
  font-family: 'CCWildWords'; 
  src: url('../font/CCWildWords-Roman.ttf');
}

@font-face {
  font-family: 'Waffle Regular'; 
  src: url('../font/Waffle Regular.otf');
}

@font-face {
  font-family: 'RopaSans-Italic'; 
  src: url('../font/RopaSans-Italic(7)(1)(1)(1)(3)(1)(2)(1)(1).ttf');
}

@font-face {
  font-family: 'OOOCAPTAINCOMIC-regular'; 
  src: url('../font/000CAPTAINCOMIC-REGULAR.OTF');
}
OOOCAPTAINCOMIC-regular


body {
  margin: 0;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
